<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>UsedTrade</title>
        <style>
            table {
                width: 100%;
                border-collapse: collapse;
                text-align: center;
            }

            #detail {
                text-align: left;
            }

            table th, table td {
                border: solid 1px #000;
            }
        </style>
        <script src="https://code.jquery.com/jquery-3.6.1.min.js"
                integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
                crossorigin="anonymous"></script>
        <script>
            $(document).ready(function () {

                $('#changePasswordForm').on('submit', function () {

                    var newPassword = $(this).find('input[name=newPassword]').val();
                    var rePassword = $(this).find('input[name=rePassword]').val();

                    if (newPassword !== rePassword) {
                        alert('비밀번호를 다시 체크해주세요.')
                        return false;
                    }

                });
            });
        </script>
    </head>
    <body>
        <h1>비밀번호 변경</h1>
        <div th:replace="/fragments/layout.html :: fragment-body-menu"></div>

        <table id="menu">
            <thead>

            </thead>
            <tbody>
            <tr>
                <td>
                    <a href="/member/myPage"> 회원정보 </a>
                </td>
                <td id="detail" rowspan="6">
                    <th:block th:if="${fromSocial eq false}">
                        <div th:if="${changeResult eq true}">
                            <p> 비밀번호 변경에 성공하였습니다 </p>
                        </div>
                        <div th:if="${changeResult eq false}">
                            <p> 기존 비밀번호가 일치하지 않습니다 </p>
                        </div>

                        <form id="changePasswordForm" action="/member/change/password" method="post">
                            <div>
                                기존비밀번호: <input type="password" name="originPassword" placeholder="기존 비밀번호 입력" required/>
                            </div>
                            <div>
                                변경비밀번호: <input type="password" name="newPassword" placeholder="변경할 비밀번호 입력" required/>
                            </div>
                            <div>
                                변경비밀번호확인: <input type="password" name="rePassword" placeholder="변경할 비밀번호 확인" required/>
                            </div>
                            <div>
                                <button type="submit"> 변경</button>
                                <button><a href="/member/reset/password"> 비밀번호 초기화 </a></button>
                            </div>
                        </form>
                    </th:block>
                    <th:block th:if="${fromSocial}">
                        <p>간편 로그인한 상태입니다.</p>
                    </th:block>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/member/change/password"> 비밀번호 변경 </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/member/withdraw"> 탈퇴 </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/member/myTradeList"> 내 게시글 </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/member/myRepliedTradeList"> 내가 댓글단 글 </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/member/myLikedTradeList"> 내가 찜한 글 </a>
                </td>
            </tr>
            </tbody>
        </table>

    </body>
</html>