<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UsedTrade</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            text-align: center;
        }
        #detail {
            text-align: left;
        }
        table th, table td {
            border: solid 1px #000;
        }
        .errorMessage {
            color: red;
        }
    </style>
</head>
<body>
    <h1> 마이페이지 </h1>
    <div th:replace="/fragments/layout.html :: fragment-body-menu"></div>

    <table id="menu">
        <thead>

        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="/member/myPage"> 회원정보 </a>
                </td>
                <td id="detail" rowspan="6">
                    <form action="/member/update" method="post" th:object="${changeMemberInput}">
                        <div th:if="${result}">
                            회원정보 변경에 성공하였습니다
                        </div>
                        <div th:if="${result eq false}">
                            <p th:text="${error}">failed</p>
                        </div>
                        <div>
                            email: <input type="email" name="email" th:value="${memberDto.email}" readonly/>
                        </div>
                        <div>
                            name: <input type="text" th:id="name" th:name="name" th:value="${memberDto.name}"
                                         placeholder="새 이름 입력"/>
                            <p class="errorMessage" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect Data</p>
                        </div>
                        <div>
                            address: <input type="text" th:id="address" th:name="address" th:value="${memberDto.address}"
                                            placeholder="새 주소 입력"/>
                            <p class="errorMessage" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Incorrect Data</p>
                        </div>
                        <div>
                            address detail: <input type="text" th:id="addressDetail" th:name="addressDetail"
                                                   th:value="${memberDto.address_detail}"
                                                   placeholder="새 상세주소 입력"/>
                            <p class="errorMessage" th:if="${#fields.hasErrors('addressDetail')}" th:errors="*{addressDetail}">Incorrect
                                Data</p>
                        </div>
                        <div>
                            phone: <input type="text" th:id="phone" th:name="phone" th:value="${memberDto.phone}"
                                          placeholder="새 전화번호 입력"/>
                            <p class="errorMessage" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Incorrect Data</p>
                        </div>
                        <div>
                            trade num: <input type="text" name="tradeNum" th:value="${memberDto.trade_num}" readonly/>
                        </div>
                        <div>
                            <button type="submit"> 변경</button>
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
               <td>
                   <a href="/member/change/password"> 비밀번호 변경 </a>
               </td>
            </tr>
            <tr>
                <td>
                    <a href="/member/withdraw"> 탈퇴 </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/member/myTradeList"> 내 게시글 </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/member/myRepliedTradeList"> 내가 댓글단 글 </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/member/myLikedTradeList"> 내가 찜한 글 </a>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>