<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UsedTrade</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            text-align: center;
        }
        #detail {
            text-align: left;
        }
        table th, table td {
            border: solid 1px #000;
        }
        .errorMessage {
            color: red;
        }
    </style>
</head>
<body>
    <h1> 비밀번호 초기화 </h1>
    <div th:replace="/fragments/layout.html :: fragment-body-menu"></div>

    <table id="menu">
        <thead>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="/member/myPage"> 회원정보 </a>
                </td>
                <td id="detail" rowspan="5">

                    <form id="resetPasswordForm" action="/member/reset/password" th:object="${resetPasswordInput}"
                          method="post">
                        <div>
                            <p> ** 초기화 하려는 계정의 이메일을 입력하세요 ** </p>
                            <p th:if="${result eq true}"> 해당 이메일로 초기화 메일을 발송해드렸습니다.</p>
                            <p th:if="${result eq false}" th:text="${error}"></p>

                            아이디: <input type="email" th:field="*{email}" placeholder="이메일 입력"/>
                            <p class="errorMessage" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect
                                Data</p>
                        </div>
                        <div>
                            이름: <input type="text" th:field="*{name}" placeholder="이름 입력"/>
                            <p class="errorMessage" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect Data</p>
                        </div>
                        <div>
                            <button type="submit"> 초기화 요청</button>
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/member/change/password"> 비밀번호 변경 </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/member/withdraw"> 탈퇴 </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/mypage/list"> 내 게시글 </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/mypage/interestList"> 내가 찜한 글 </a>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>
