<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>UsedTrade</title>
        <style>
            table {
                width: 100%;
                border-collapse: collapse;
                text-align: center;
            }
            table th, table td {
                border: solid 1px #000;
            }
            .errorMessage{
                color: red;
            }
        </style>
        <script src="https://code.jquery.com/jquery-3.6.1.min.js"
                integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
                crossorigin="anonymous"></script>
        <script>
            $(document).ready(function () {

                $('form').on('submit', function () {

                    var newPassword = $(this).find('input[name=newPassword]').val();
                    var rePassword = $(this).find('input[name=rePassword]').val();

                    if (newPassword !== rePassword) {
                        alert('비밀번호를 다시 체크해주세요.')
                        return false;
                    }

                });
            });
        </script>
    </head>
    <body>
        <h1>Reset Password Page</h1>
        <div th:replace="/fragments/layout.html :: fragment-body-menu"></div>

        <div th:if="${result eq true}">
            <form action="/member/reset/passwordMail" method="post" th:object="${resetPasswordFormInput}">
                <input type="hidden" name="resetPasswordKey" th:value="${resetPasswordKey}"/>
                <div>
                    <p> * 8자리 이상, 50자리 이하의 비밀번호를 입력해주세요 </p>
                    새 비밀번호: <input type="password" th:field="*{newPassword}" placeholder="새 비밀번호를 입력해주세요."/>
                    <p class="errorMessage" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">Incorrect Data</p>
                </div>
                <div>
                    비밀번호 확인: <input type="password" name="rePassword" placeholder="비밀번호 확인"/>
                </div>
                <div>
                    <button type="submit">비밀번호 재설정</button>
                </div>
            </form>
        </div>

        <div th:if="${result eq false}">
            <p th:text="${error}"> Failed </p>
        </div>

    </body>
</html>