<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>UsedTrade</title>
    <style>
        .list table {
            width: 100%;
            border-collapse: collapse;
        }
        .list table tr, .list table td {
            border: solid 1px #000;
        }
        .interestTrue {
            color: red;
        }
        .interestFalse {
            color: black;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
            crossorigin="anonymous"></script>

    <script th:inline="javascript">
        $(document).ready(function () {

            var tradeId = [[${tradeDto.id}]];
            var username = [[${#authentication.name}]];

            getInterest(tradeId);

            // 좋아요 정보 불러오기
            function getInterest(tradeId) {
                $.ajax({
                    url: '/api/interest/' + tradeId,
                    method: 'get',
                    dataType: 'json',
                    success: function(result) {

                        var str = "";
                        if (result) {
                            str += "<button id='interestBtn' class='interestTrue' type='button'> 좋아요 </button>";
                        } else {
                            str += "<button id='interestBtn' class='interestFalse' type='button'> 좋아요 </button>"
                        }

                        $("#interestDiv").html(str);

                    }, error: function(error) {
                        alert("좋아요 정보를 불러오지 못했습니다\n" + error);
                        console.log(error);
                    }
                });
            }

            // 좋아요 등록
            $(document).on("click", ".interestFalse", function() {

                $.ajax({
                    url: '/api/interest/' + tradeId,
                    method: 'post',
                    dataType: 'json',
                    success: function(result) {
                        alert('좋아요를 등록했습니다.');
                        getInterest(tradeId);
                    }, error: function(error) {
                        alert("좋아요 등록에 실패하였습니다.\n" + error);
                    }
                });

            });

            // 좋아요 해제
            $(document).on("click", ".interestTrue", function() {

                $.ajax({
                    url: '/api/interest/' + tradeId,
                    method: 'delete',
                    dataType: 'json',
                    success: function(result) {
                        alert('좋아요를 해제했습니다.');
                        getInterest(tradeId);
                    }, error: function(error) {
                        alert("좋아요 해제에 실패하였습니다.\n" + error);
                    }
                });

            });

            getReplies();

            // 댓글 목록 조회
            function getReplies() {
                $.ajax({
                    url: '/api/reply/' + tradeId,
                    method: 'get',
                    dataType: 'json',
                    success: function(replyDtoList) {

                        // 댓글 목록
                        var str = "";
                        $.each(replyDtoList, function(index, replyDto) {
                            str += "<div>";
                            str += "<input class='replyId' type='hidden' value='" + replyDto.id + "'/>";
                            str += "<p>[reply  " + (index + 1) + "]</p>";
                            str += "<p>replyer: " + replyDto.email + "</p>";
                            str += "reply: <input type='text' class='replyContent' value='" + replyDto.content + "'/>";
                            str += "<p>" + replyDto.regDt + "</p>";
                            if (replyDto.email === username) {
                                str += "<button type='button' id='replyModifyBtn'> 수정 </button>";
                                str += "<button type='button' id='replyRemoveBtn'> 삭제 </button>";
                            }
                            str += "<p>----------------------------------------------------</p>";
                            str += "</div>";
                        });

                        $("#replyListDiv").html(str);

                    }, error: function(error) {
                        alert('댓글 목록 조회에 실패하였습니다.\n' + error);
                    }
                });
            }

            // 댓글 작성
            $("#writeBtn").click(function() {
                var content = $("#replyWriteTextArea").val();

                // tradeId, content
                var reply = {
                    trade_id : tradeId,
                    content: content
                }
                console.log("reply: " + reply.trade_id + reply.content);

                $.ajax({
                    url: '/api/reply',
                    method: 'post',
                    data: JSON.stringify(reply),
                    contentType: 'application/json; charset=utf-8',
                    success: function(result) {
                        alert('댓글 등록에 성공하였습니다.');
                        console.log(result);
                        getReplies();   // 갱신
                    }, error: function(error) {
                        alert('댓글 등록에 실패하였습니다.');
                        console.log(error);
                    }
                });
            });

            // 댓글 수정
            $(document).on("click", "#replyModifyBtn", function() {
                var content = $(this).siblings('.replyContent').val();    // 댓글 내용
                var replyId = $(this).siblings("input[class='replyId']").val();

                var data = {
                    content: content,
                    email: username
                }

                $.ajax({
                    url: '/api/reply/' + replyId,
                    method: 'post',
                    data : JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    success: function(data) {
                        alert('댓글 수정에 성공하였습니다.');
                        console.log(data);
                        getReplies();
                    }, error: function(error) {
                        alert('댓글 수정에 실패하였습니다.');
                        console.log(error);
                    }
                });

            });

            // 댓글 삭제
            $(document).on("click", "#replyRemoveBtn", function() {
                var replyId = $(this).siblings("input[class='replyId']").val();

                $.ajax({
                    url: '/api/reply/' + replyId,
                    method: 'delete',
                    success: function(data) {
                        alert('댓글 삭제에 성공하였습니다.');
                        console.log(data);
                        getReplies();
                    }, error: function(error) {
                        alert('댓글 삭제에 실패하였습니다.');
                        console.log(error);
                    }
                });

            });

        });
    </script>
</head>
<body>
    <h1> 상세 페이지 </h1>
    <div th:replace="/fragments/layout.html :: fragment-body-menu"></div>

    <div>
        <p th:text="'제목: ' + ${tradeDto.title}">title</p>
        <p th:text="'내용: ' + ${tradeDto.content}">content</p>
        <p th:text="'작성자: ' + ${tradeDto.email}">email</p>
        <p th:text="'가격: ' + ${tradeDto.price} + '원'">price</p>
        <p th:text="'키워드: ' + ${tradeDto.keywordList}">keywordList</p>
        <p th:text="'판매여부: ' + ${tradeDto.tradeStatus}">tradeStatus</p>
        <p th:text="'작성일: ' + ${tradeDto.regDt}">regDt</p>

        <div th:each="imgDto: ${tradeDto.tradeImgDtoList}">
            <img th:src="${imgDto.getUrl()}">
        </div>
    </div>

    <div id="interestDiv">

    </div>

    <div id="buttonDiv">
        <button th:if="${tradeDto.email == username}"
                th:onclick="|location.href='@{/trade/modify(tradeId=${tradeDto.id}, page=${pageRequestDTO.page}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}'|"> 수정 </button>
        <button th:onclick="|location.href='@{/trade/list(page=${pageRequestDTO.page}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}'|"> 목록 </button>
    </div>

    <div id="replyListDiv">

    </div>

    <div id="replyWriteDiv">
        <textarea id="replyWriteTextArea"></textarea>
        <button id="writeBtn"> 등록 </button>
    </div>

</body>
</html>