<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>UsedTrade</title>
    <style>
        .list table {
            width: 100%;
            border-collapse: collapse;
        }
        .list table tr, .list table td {
            border: solid 1px #000;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
            crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {



        });
    </script>
</head>
<body>
    <h1> 상세 페이지 </h1>
    <div th:replace="/fragments/layout.html :: fragment-body-menu"></div>

    <div>
        <p th:text="'제목: ' + ${tradeDto.title}">title</p>
        <p th:text="'내용: ' + ${tradeDto.content}">content</p>
        <p th:text="'작성자: ' + ${tradeDto.email}">email</p>
        <p th:text="'가격: ' + ${tradeDto.price} + '원'">price</p>
        <p th:text="'키워드: ' + ${tradeDto.keywordList}">keywordList</p>
        <p th:text="'판매여부: ' + ${tradeDto.tradeStatus}">tradeStatus</p>
        <p th:text="'작성일: ' + ${tradeDto.regDt}">regDt</p>

        <div th:each="imgDto: ${tradeDto.tradeImgDtoList}">
            <img th:src="${imgDto.imgUrl}">
        </div>
    </div>

    <div>
        <button th:if="${tradeDto.email == username}" th:onclick="|location.href='@{/trade/modify(tradeId=${tradeDto.id}, page=${pageRequestDTO.page}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}'|"> 수정 </button>
        <button th:onclick="|location.href='@{/trade/list(page=${pageRequestDTO.page}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}'|"> 목록 </button>
    </div>

</body>
</html>