<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UsedTrade</title>
    <style>
        .list table {
            width: 100%;
            border-collapse: collapse;
        }
        .list table th, .list table td {
            border: solid 1px #000;
        }
        .list .buttons a, .list .buttons button {
            border-width: 0;
            background-color: transparent;
            text-decoration: underline;
            font-size: 14px;
            line-height: 20px;
            height: 20px;
            color: #000;
            cursor: pointer;
        }
        .orderByPriceDiv {
            float: right;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
            crossorigin="anonymous"></script>

    <script th:inline="javascript">
        $(document).ready(function() {

            $.ajax({
                url: "/api/keyword",
                type: "GET",
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function(keywordList) {
                    console.log(keywordList);

                    var str = "";
                    $.each(keywordList, function (index, keywordDto) {
                        console.log(keywordDto);
                        str += "<a href='/trade/list?page=1&type=k&keyword=" + keywordDto.keywordName + "'>"
                            + keywordDto.keywordName + "</a>    ";
                    });

                    // 키워드 별로 페이지 출력 링크
                    $('#keywordList').html(str);

                },error: function(error) {
                    alert("키워드를 불러오는데 실패했습니다.");
                    console.log(error.responseJSON);
                }
            });

           var searchForm = $("#searchForm");

           // 검색 폼 submit
           $('.btn-search').click(function(e) {
               searchForm.submit();
           });

           // 검색 폼의 내용을 초기화 하고 submit
           $('.btn-clear').click(function(e) {
               searchForm.empty().submit();
           });

        });
    </script>
</head>
<body>

    <h1>거래글 목록</h1>

    <div th:replace="/fragments/layout.html :: fragment-body-menu"></div>

    <div>
        <a href="/trade/register">거래글 등록</a>
    </div>

    <form action="/trade/list" method="get" id="searchForm">
        <input type="hidden" name="page" value="1"/>    <!--기본 1페이지-->

        <div class="typeDiv">
            <select name="type">
                <option th:selected="${pageRequestDTO.type == null}">-------</option>
                <option value="t" th:selected="${pageRequestDTO.type == 't'}">제목</option>
                <option value="c" th:selected="${pageRequestDTO.type == 'c'}">내용</option>
                <option value="e" th:selected="${pageRequestDTO.type == 'e'}">작성자</option>
                <option value="k" th:selected="${pageRequestDTO.type == 'k'}">키워드</option>

                <option value="tc" th:selected="${pageRequestDTO.type == 'tc'}">제목 + 내용</option>
                <option value="tce" th:selected="${pageRequestDTO.type == 'tce'}">제목 + 내용 + 작성자</option>
            </select>
        </div>

        <input name="keyword" th:value="${pageRequestDTO.keyword}">

        <div class="orderByPriceDiv">
            <select name="order">
                <option th:selected="${pageRequestDTO.order == null}">-------</option>
                <option value="DESC" th:selected="${pageRequestDTO.order == 'DESC'}">가격 높은 순</option>
                <option value="ASC" th:selected="${pageRequestDTO.order == 'ASC'}">가격 낮은 순</option>
            </select>
        </div>

        <div>
            <button class="btn-search" type="button">Search</button>
            <button class="btn-clear" type="button">Clear</button>
        </div>

    </form>

    <hr/>

    <div id="keywordList">

    </div>

    <div class="list">
        <table>
            <thead>
                <th>NO</th>
                <th>제목</th>
                <th>가격</th>
                <th>키워드</th>
                <th>작성자(이메일)</th>
                <th>작성일</th>
            </thead>
            <tbody id="tradeTableBody">
                <tr th:each="dto: ${pageResultDTO.dtoList}">
                    <td>
                        <p th:text="${dto.id}">idx</p>
                    </td>
                    <td>
                        <p>
                            <a th:href="@{/trade/detail(tradeId=${dto.id}, page=${pageResultDTO.page},
                        type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}" th:text="${dto.title}">
                            title
                            </a>
                        </p>
                    </td>
                    <td>
                        <p th:text="${dto.price} + 원">price</p>
                    </td>
                    <td>
                        <p th:text="${dto.keywordList}">keywords</p>
                    </td>
                    <td>
                        <p th:text="${dto.email}">register email</p>
                    </td>
                    <td>
                        <p th:text="${#temporals.format(dto.regDt, 'yyyy-MM-dd HH:mm')}">regDt</p>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>


    <a th:if="${pageResultDTO.prev}" th:href="@{/trade/list(page=${pageResultDTO.start - 1},
    type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}">
        Previous
    </a>

    <th:block th:class="${pageResultDTO.page == page ? 'active' : ''}" th:each="page: ${pageResultDTO.pageList}">
        <a th:href="@{/trade/list/(page=${page}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}">
            [[${page} ]]
        </a>
    </th:block>

    <a th:if="${pageResultDTO.next}" th:href="@{/trade/list(page=${pageResultDTO.end + 1},
    type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}">
        Next
    </a>

</body>
</html>