<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UsedTrade</title>
    <style>
        .errorMessage {
            color: red;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
            crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {

            const searchParams = new URLSearchParams(location.search);
            var tradeId = searchParams.get("tradeId");

            // 수정할 데이터 불러오기
            $.ajax({
                url: '/api/trade/' + tradeId,
                method: 'GET',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function(tradeDto) {
                    console.log(tradeDto);

                    $("input[name='title']").attr("value", tradeDto.title);
                    $("input[name='price']").attr("value", tradeDto.price);
                    $("#content").html(tradeDto.content);
                    $("#tradeStatus").val(tradeDto.tradeStatus).prop("selected", true);

                },
                error: function (request, status, error) {
                    console.log(JSON.stringify(error));
                    alert("데이터를 불러오지 못했습니다.");
                }
            });

            // 수정버튼
            $('#modifyBtn').click(function() {

                // title, content, price, tradeStatus, keyword
                var tradeInput = {
                    title: $('#title').val(),
                    content: $('#content').val(),
                    price: $('#price').val(),
                    tradeStatus: $('#tradeStatus').val(),
                    keywordList: ["생활용품"]
                }

                console.log(tradeInput);

                $.ajax({
                    url: '/api/trade/' + tradeId,
                    method: 'PUT',
                    data: JSON.stringify(tradeInput),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                }).done(function(data) {
                    alert('글이 수정되었습니다.');
                    window.location.href = "/trade/list";
                    console.log(data);
                }).fail(function(error) {
                    alert("게시글 수정에 실패하였습니다." + error.responseJSON);
                    console.log(error);
                    console.log(error.responseJSON);
                });

            });

        });
    </script>
</head>
<body>
    <h1> 거래글 작성 </h1>
    <div th:replace="/fragments/layout.html :: fragment-body-menu"></div>

    <form id="modifyForm">
        <div>
            제목: <input type="text" name="title" id="title" value="" placeholder="제목 입력"/>
        </div>
        <div>
            내용: <textarea id="content" name="content" placeholder="요약문구 입력"></textarea>
        </div>
        <div>
            가격: <input type="text" id="price" name="price" value="" placeholder="가격 입력"/>
        </div>
        <!--
        <div>
            <select name="keywordName">
                <option value="">키워드 선택</option>
                <option th:each="keyword: ${keywordList}" th:value="${keyword}" th:text="${keyword}"></option>
            </select>
        </div>
        -->
        <div>
            <select name="tradeStatus" id="tradeStatus">
                <option value="">거래 여부</option>
                <option th:value="SELL">판매</option>
                <option th:value="BUY">구매</option>
            </select>
        </div>

        <div>
            <button type="button" id="modifyBtn"> 수정 </button>
        </div>
    </form>

</body>
</html>