<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UsedTrade</title>
    <style>
        .errorMessage {
            color: red;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
            crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {

            // 키워드 리스트 불러오기
            $.ajax({
                url: "/api/keyword",
                type: "GET",
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function(keywordList) {
                    console.log("getKeywordList");
                    console.log(keywordList);

                    var str = "";
                    $.each(keywordList, function (index, keyword) {
                        str += "<label><input type='checkbox' name='keyword' value='" + keyword.keywordName + "'/>" + keyword.keywordName + "</label>";
                    });

                    $('#keywordListDiv').html(str);

                },error: function(error) {
                    alert("키워드를 불러오는데 실패했습니다.");
                    console.log(error.responseJSON);
                }
            });

            // 게시글 등록 버튼
            $('#registerBtn').click(function() {

                var keywordList = [];
                $('input:checkbox[name="keyword"]').each(function() {
                    if(this.checked){
                        keywordList.push(this.value)
                    }
                });

                console.log(keywordList);

                // title, content, price, tradeStatus, keywordList
                var tradeInput = {
                    title: $('#title').val(),
                    content: $('#content').val(),
                    price: $('#price').val(),
                    tradeStatus: $('#tradeStatus').val(),
                    keywordList: keywordList
                }

                console.log(tradeInput);

                $.ajax({
                    url: '/api/trade',
                    method: 'post',
                    data: JSON.stringify(tradeInput),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                }).done(function(data) {
                    alert('글이 등록되었습니다.');
                    window.location.href = "/trade/list";
                    console.log(data);
                }).fail(function(error) {
                    alert("게시글 작성에 실패하였습니다.");
                    console.log(error);
                    console.log(error.responseJSON);
                });

            });

        });
    </script>
</head>
<body>
    <h1> 거래글 작성 </h1>
    <div th:replace="/fragments/layout.html :: fragment-body-menu"></div>

    <form id="registerForm" action="/api/trade/register" method="post" th:object="${tradeInput}">
        <div>
            제목: <input type="text" th:field="*{title}" placeholder="제목 입력"/>
            <p class="errorMessage" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Incorrect Data</p>
        </div>
        <div>
            내용: <textarea th:field="*{content}" placeholder="요약문구 입력"></textarea>
            <p class="errorMessage" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Incorrect Data</p>
        </div>
        <div>
            가격: <input type="text" th:field="*{price}" placeholder="비밀번호 확인"/>
            <p class="errorMessage" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Incorrect Data</p>
        </div>

        <div id="keywordListDiv">

        </div>

        <div>
            <select th:field="*{tradeStatus}">
                <option value="">거래 여부</option>
                <option th:value="SELL">판매</option>
                <option th:value="BUY">구매</option>
            </select>
            <p class="errorMessage" th:if="${#fields.hasErrors('tradeStatus')}" th:errors="*{tradeStatus}">Incorrect Data</p>
        </div>

        <div>
            <button type="button" id="registerBtn"> 작성 </button>
        </div>
    </form>

</body>
</html>