<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UsedTrade</title>
    <style>
        .errorMessage {
            color: red;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
            crossorigin="anonymous"></script>

    <script th:inline="javascript">
        $(document).ready(function () {

            // 키워드 리스트 불러오기
            $.ajax({
                url: "/api/keyword",
                type: "GET",
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function(keywordList) {
                    console.log(keywordList);

                    var str = "키워드선택 : ";
                    $.each(keywordList, function (index, keyword) {
                        str += "<label><input type='checkbox' name='keywordList' value='" + keyword.keywordName + "'/>"
                            + keyword.keywordName + "</label>";
                    });
                    // str += "<p class=\"errorMessage\" th:if=\"${#fields.hasErrors('keywordList')}\" "
                    //     + "th:errors=\"*{keywordList}\">Incorrect Data</p>"

                    $('#keywordListDiv').html(str);

                    var keywords = [[${tradeDto.keywordList}]];
                    console.log("keywords: " + keywords);

                    $.each(keywords, function(index, keyword2) {   // 가져온 키워드
                        $("input:checkbox[value='" + keyword2 + "']").attr("checked", true);
                    });

                },error: function(error) {
                    alert("키워드를 불러오는데 실패했습니다.");
                    console.log(error.responseJSON);
                }
            });

        });
    </script>
</head>
<body>
    <h1> 거래글 작성 </h1>
    <div th:replace="/fragments/layout.html :: fragment-body-menu"></div>

    <form id="registerForm" action="/trade/register" method="post" th:object="${tradeDto}">
        <input type="hidden" th:name="tradeId" th:value="${tradeDto.id}"/>
        <input type="hidden" th:name="id" th:value="${tradeDto.id}"/>

        <div>
            제목: <input type="text" th:field="*{title}" placeholder="제목 입력"/>
            <p class="errorMessage" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Incorrect Data</p>
        </div>
        <div>
            내용: <textarea th:field="*{content}" placeholder="요약문구 입력"></textarea>
            <p class="errorMessage" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Incorrect Data</p>
        </div>
        <div>
            가격: <input type="text" th:field="*{price}" placeholder="가격 입력"/>
            <p class="errorMessage" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Incorrect Data</p>
        </div>

        <!--todo-->
        <div id="keywordListDiv">

        </div>

        <div>
            판매여부:
            <select th:field="*{tradeStatus}">
                <option value="">거래 여부</option>
                <option th:value="SELL">판매</option>
                <option th:value="BUY">구매</option>
            </select>
            <p class="errorMessage" th:if="${#fields.hasErrors('tradeStatus')}" th:errors="*{tradeStatus}">Incorrect Data</p>
        </div>

        </div>

        <div th:if="${#strings.isEmpty(tradeDto.id)}">
            <button th:formaction="@{/trade/register}" type="submit"> 저장 </button>
        </div>
        <div th:unless="${#strings.isEmpty(tradeDto.id)}">
            <button th:formaction="@{/trade/modify(tradeId=${tradeDto.id})}" type="submit"> 수정 </button>
            <button th:formaction="@{/trade/delete}" type="submit"> 삭제 </button>
        </div>
    </form>

</body>
</html>